@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}


#scores li {
  padding: 0.3rem 2rem;
  text-align: left;
}

#scores li:nth-of-type(even) {
  background-color: rgb(228, 219, 219);
}

#score-title {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form > button {
  align-self: flex-end;
}

form > input {
  padding: 0.3rem;
  border: 2px solid black;
}

.hidden {
  display: none;
}
